@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500;600;700&family=Roboto:wght@300;400;500;700&display=swap');


:root {
    --ff-primary: 'Roboto', sans-serif;
    --header-height: 90px;
    --light-grey: #d8d8d8;
    --dark-teal: #464c47;
    --black: #000;
    --white: #fff;
    --main-color: var(--black);
    --horizontal-padding: 70px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
}

.container {
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
}

p {
    color: #000;
    font-size: 22px;
    line-height: 34px;
    font-weight: 400;
}


/* css for header */

/* header when window is smaller then 960px */
@media screen and (max-width: 960px) {
    .current-situation a {
        display: none;
    }

    .intro-text h1 {
        font-size: 40px;
    }

}

@media screen and (max-width: 402px) {
    .hero-wrapper h1 {
        font-size: 30px;
    }

    .hero-wrapper p {
        font-size: 15px;
    }
}




.header-wrapper {
    display: flex;
    padding-top: 60px;
    padding-bottom: 0;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    display: flex;
}

.main-nav a {
    color: #000;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    background-color: transparent;
}

.logo {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.current-situation {
    padding-bottom: 4px;
    display: inline-block;
    text-decoration: none;
    position: relative;
}

.current-situation::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: width 250ms ease-out;
}

.current-situation:hover::before {
    width: 0;
}

.navigation {
    padding-left: 100px;
}

.navigation a {
    font-size: 20px;
}



.about-nav {
    padding-bottom: 4px;
    display: inline-block;
    text-decoration: none;
    position: relative;
}


.about-nav::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 250ms ease-out;
}

.about-nav:hover::before {
    width: 100%;
}

.contact-nav {
    margin-left: 30px;
    padding-bottom: 4px;
    display: inline-block;
    text-decoration: none;
    position: relative;
}

.contact-nav::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 250ms ease-out;
}

.contact-nav:hover::before {
    width: 100%;
}


/* css for hero */
.hero-wrapper {
    padding-top: 200px;
}

.big-title-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 750px;
    margin-top: 20px;
}

.h1-hero {
    max-width: 750px;
    margin-top: 0;
    padding-top: 0;
    color: #000;
    font-size: 55px;
}

.p-hero {
    max-width: 696px;
    margin-bottom: 68px;
    padding-top: 41px;
}

.mail-link {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 4px;
    color: #000;
    font-size: 22px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.mail-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: width 250ms ease-out;
}

.mail-link:hover::before {
    width: 0;
}



/* css for project */
.project-wrapper {
    margin-top: 90px;
}






/* css for intro */
.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-text {
    color: rgb(233, 233, 233);
    font-family: var(--ff-primary);
    font-size: 50px;
}


/* css for hide */
.hide {
    background: black;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}


/* css for content sections */
.content {
    min-height: 100vh;
    background: gray;
}
